html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #d3d3d3; /* Fond gris foncé pour toute la page */
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 64px); /* Ajuster la hauteur pour prendre en compte le menu de navigation */
    width: 100%;
}

#map {
    width: 100%;
    max-width: 960px;
    height: 80vh;
    background-color: transparent; /* Fond transparent pour la carte */
}

.region {
    cursor: pointer;
    transition: stroke-width 0.2s, stroke 0.2s;
}

.label {
    font-family: Arial, sans-serif;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.region:hover {
    stroke: gold;
    stroke-width: 3px;
    filter: drop-shadow(0 0 5px gold);
}